* {
    font-family: FantasqueSansMono Nerd Font;
    font-size: 17px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: #4c4f69;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 0px 1rem 1rem 0px;
    margin: 5px 0px;
    background-color: #1E1E1E;
}

#workspaces button {
    color: grey;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: white;
    border-radius: 1rem;
}

#workspaces button:hover {
    background-color: #1E1E1E;
    border-radius: 1rem;
}

#custom-music,
#custom-rofi,
#tray,
#backlight,
#memory,
#network,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
    background-color: #1E1E1E;
    color: white;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#custom-rofi {
    margin-left: 1rem;
    border-radius: 1rem 0px 0px 1rem;
}

#clock {
    margin-left: 1rem;
    border-radius: 1rem 0px 0px 1rem;
}

#backlight, #battery {
    border-radius: 0;
}

#backlight {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
}

#pulseaudio {
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
}

