@import "latte.css";

* {
    font-family: FantasqueSansMono Nerd Font;
    font-size: 17px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 0px 1rem 1rem 0px;
    margin: 5px 0px;
    background-color: @surface0;
    /* margin-left: 1rem; */
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    background-color: @surface0;
    color: @sapphire;
    border-radius: 1rem;
}

#custom-music,
#custom-rofi,
#tray,
#backlight,
#memory,
#network,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#memory {
    color: @flamingo;
}

#clock {
    margin-left: 1rem;
    border-radius: 1rem 0px 0px 1rem;
    color: @blue;
}

#battery {
    color: @green;
}

#network {
    color: @teal;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#backlight {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @yellow;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#custom-rofi {
    margin-left: 1rem;
    border-radius: 1rem 0px 0px 1rem;
    color: @mauve;
}

#custom-lock {
    border-radius: 0px 1rem 1rem 0px;
    color: @lavender;
}

#tray {
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
    background-color: @rosewater;
}
